@charset "utf-8";


/* Style Rules */
article, aside, figcaption, figure,
footer, header, main, nav, section {
display: block;
}

/* Body Styles */
p {
    color:#EE4540
}

body {
   margin-left: auto;
   margin-right: auto;
   max-width: 960px;
   min-width: 640px;
   width: 95%;
   background-color: #2D142C;
}

section#leftColumn {
    float:left;
    clear: left;
    width: 45%;
    font-size: 2em;
    padding: 1em;
}

section#rightColumn {
    float: left;
    clear: right;
    max-width: 2px;
    padding: 1em;
}

body > hr {
  border: 2px solid red;
}

/* Header Styles */


body > header > p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

body > header > img{
    display: block;
    margin: auto;
    height: 100px;
}

body > header > nav.navbar li {
    margin: auto;
    width: 20%;
}

nav.navbar li {
   display: block;
   float: left;
}

nav.navbar a {
   display: block;
   text-align: center;
   color: #EE4540;
   font-size: 1.5em;
   line-height: 2em;
   background-color: #510A32;
}  

/* Footer Styles */
footer {
    clear: both;
    text-align: center;
}